  * {
      font-family: monospace;
      border: none;
      box-shadow: none;
      background: transparent;
      padding: 0;
      color: white;
  }

  .overlay-indicator,  .overlay-indicator *{
	border-width: 1px;
	border-style: solid;
	border-radius: 13px;
	background-color: rgba(@r@, @g@, @b@, 0.40);
  }
  .radius {
    padding: 13px;
    border-radius: 13px;
  }
  .resize {
    padding: 5px;
    border-radius: 50%;
  }
  .transparent{
     background: transparent;
   }
  .notification {
    padding: 13px 17px;
    border-radius: 13px;
    background: rgba(@r@, @g@, @b@, @a@);
    border: 1px solid white; 
  }
  .window_box {
    padding: 13px;
    background: rgba(@r@, @g@, @b@, @a@);
    border-radius:  0 13px 0 13px;
  }
  .main_box {
    padding: 13px;
    background: rgba(@r@, @g@, @b@, @a@);
  }

  .active_tab {
      font-size: 120%;
  }
  .tab_button{
      font-size: 80%;
  }
  
  .blocker {
      background: rgba(@r@, @g@, @b@, 0.40);
  }
